
.mapex-toolbar-button {
    text-indent: -9999px;
    background: url(../../img/mgr/mapex-icons.png) no-repeat;
    width: 22px;
    height: 26px;
    margin-top: 2px;
}
.mapex-toolbar-button-placemark {background-position: 0 -20px;}
.mapex-toolbar-button-line {background-position: 0 2px;}
.mapex-toolbar-button-polygon {background-position: 0 -64px;}
.mapex-toolbar-button-route {background-position: 0 -42px;}
.mapex-map label {
    display: inline;
}
.mapex-map .mapex-balloon {
    padding: 2px 10px;
}
.mapex-map .mapex-balloon label {
    color: #666;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
.mapex-map .mapex-balloon label:after {
    content: ":";
}
.mapex-map .mapex-balloon input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    margin: 0;
    padding: 3px;
    width: 95%;
}
.mapex-map .mapex-btn {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
}
.mapex-map .mapex-btn:hover {
    border: 1px solid #aaa;
}
.mapex-map .mapex-btn:active {
    background: #f7f7f7;
    border: 1px solid #aaa;
}
.mapex-map .mapex-btn-link {
    border: 1px transparent;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}
.mapex-map .mapex-balloon .form-element {
    margin: 0 0;
    overflow: hidden;
}
.mapex-map .mapex-balloon .mapex-actions {
    line-height: 20px;
    margin: 10px 0 0 0;
    overflow: hidden;
}
.mapex-map .mapex-balloon .mapex-actions .mapex-action {
    float: left;
    margin: 0 10px 0 0;
}
.mapex-map .mapex-balloon .mapex-actions .mapex-action-right {
    float: right;
    margin: 0 0 0 10px;
}

.mapex-map .mapex-balloon .mapex-colors .mapex-color {
    border: none;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 1px;
}
.mapex-map .mapex-balloon .mapex-colors .mapex-color div {
    border: 1px solid white;
    height: 10px;
    overflow: hidden;
    text-indent: 9999px;
    width: 10px;
}
.mapex-map .mapex-balloon .mapex-colors .mapex-color-active {
    background-color: #444;
}

.mapex-search-form {
    display: block;
    margin: 5px 0;
    overflow: hidden;
}
.mapex-search-form input[type="text"] {
    margin: 5px 10px 5px 0;
    width: 400px;
    padding: 4px;
}
.mapex-search-form input[type="submit"] {
    margin: 0;
    width: 75px;
    padding: 4px;
}

.mapex-terms {
    text-align: right;
}
.mapex-map-wrapper {position: relative;}
.mapex-map {min-width:500px;width:100%;height:400px;margin: 10px 0;}

/* clear & clearfix */
.mapex-clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.mapex-clearfix:before,.mapex-clearfix:after {content: '\0020';display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.mapex-clearfix:after {clear: both;}
.mapex-clearfix {zoom: 1;}